body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}
#hero {
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: right right;
  background-repeat: no-repeat;
}
#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#hero .hero-container {
  z-index: 2;
  min-width: 300px;
  right: 80px;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: $color-fuentesHeader;
}
#hero p {
  color: $color-fuentesHeader;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}
#hero p span {
  color: $color-fuentesHeader;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid $color-bordoLight;
}
.title1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 56px;
  color: $color-fuentesHeader;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
//  Sections General
section {
  padding: 60px 0;
  overflow: hidden;
}
.section-bg {
  background: $color-grey;
}
.section-title {
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: $color-titulo;
}
.section-title p {
  margin-bottom: 0;
}
//  About
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: $color-bordo;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.about .content ul strong {
  margin-right: 10px;
}
.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: $color-bordoLight;
  line-height: 0;
}
.about .content p:last-child {
  margin-bottom: 0;
}
//  Resume
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid $color-bordoDark;
  position: relative;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}
.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume .resume-item ul {
  padding-left: 20px;
}
.resume .resume-item ul li {
  padding-bottom: 10px;
}
.resume .resume-item:last-child {
  padding-bottom: 0;
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: $color-white;
  border: 2px solid $color-bordoDark;
}
//  Portfolio
.portfolio .portfolio-item {
  margin-bottom: 30px;
  box-shadow: 24px -10px 24px 4px rgba(0, 0, 0, 0.281);
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: $color-white;
  border-radius: 50px;
  padding: 2px 15px;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
// .portfolio #portfolio-flters li:hover,
// .portfolio #portfolio-flters li.filter-active {
//   color: $color-bordoLight;
// }
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}
.portfolio .portfolio-wrap:hover{
  filter: invert(40%);
  cursor: pointer;
}

.certificate{
  width: 200px;
}
