body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}
a {
  color: $color-bordoLight;
  text-decoration: none;
}
a:hover {
  color: $color-bordoLight;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: $color-bordoLight;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: $color-fuentesHeader;
  line-height: 0;
}
.back-to-top:hover {
  background: $color-bordoLight;
  color: $color-fuentesHeader;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(121, 9, 62, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(121, 9, 62, 1) 100%);
  overflow-y: auto;
}
#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}
#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}
#header .profile h1 a,
#header .profile h1 a:hover {
  color: $color-fuentesHeader;
  text-decoration: none;
}
#header .profile .social-links a {
  align-items: center;
  justify-content: center;
  font-size: 20px;
  display: inline-block;
  color: $color-fuentesHeader;
  line-height: 1;
  margin: 1px;
  padding: 5px;
  margin-right: 20px;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s;
}
.social {
  margin: 10px 0 -10px 20px;
}
.image {
  width: 300px;
  box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.281);
}
#header .profile .social-links a:hover {
  background: rgb(0, 0, 0);
  color: #ffffff54;
  text-decoration: none;
}
#main {
  margin-left: 300px;
}
.container,
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
  .container,
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.maquina-escribir {
  font-size: xx-large;
  display: block;
  font-family: monospace;
  white-space: nowrap;
  width: 12ch;
  animation: escribiendo 3s steps(20);
  overflow: hidden;
}
.cursor {
  animation: 0.6s parpadeo-cursor infinite;
}
@keyframes escribiendo {
  from {
    width: 0;
  }
}
@keyframes parpadeo-cursor {
  50% {
    opacity: 0;
  }
}