$color-fuentesHeader: #fff;
$color-bordoDark: #601c29;
$color-bordoLight: #d13453;
$color-bordo: #a42841;
$color-titulo: #640000;
$color-rose: #fcdfdf;
$color-white: #fff;
$color-grey: #f2e0e083;
$color-table:#0706066e ;
$color-bordo-table: #a42841b3;