/* General */

/* Main */

.logo {
	width: 90px;
	margin: 5px 20px;
	filter: invert(100%);
}

h5 {
	-webkit-text-stroke: 2px black !important;
	font-size: 90px !important;
}
p{
	-webkit-text-stroke: 1.2px black !important;
	font-size: 25px !important;
	font-weight: 700;
}

body {
	background: rgb(51, 4, 65) !important;
	background: radial-gradient(circle, rgba(51, 4, 65, 1) 0%, rgba(93, 9, 121, 1) 35%, rgba(0, 224, 255, 1) 100%) !important;
}

.contenedor{
	margin: 125px;
}

.imag{
	height: 620px;
	border-radius: 10px;
	background-image: linear-gradient(115deg,rgb(116, 5, 242),rgba(136,136,206,.5)) !important;
}
.card{
	margin:40px 45px;
}

.intro{
	background-image: url(images/logo.svg);
	background-size: 70rem;
	background-repeat: no-repeat;
	background-position: center;
	width: auto;
	height: 700px;
}

.btn {
	background-color: rgba(7, 0, 12, 0.41);
	border: solid rgb(255, 255, 255) 2px;
	border-radius: 5px;
	color: rgb(224, 224, 224);
	font-size: 1.5rem;
	padding: 8px 25px;
}  */

/* Header */

 .nav li {
	list-style: none;
	background-color: rgba(27, 0, 43, 0.518);
	border: 1px solid black;
	padding: .5rem;
}

li {
	list-style: none;
	text-align: center;
}

li a {
	list-style: none;
	color: black;
	font-size: 1.5rem;
	text-decoration: none;
} */

/* Texts */
 h1 {
	color: rgb(240, 248, 255);
	font-size: 5rem;
	text-align: center;
}

h2 {
	color: rgb(255, 255, 255) !important;
	font-size: 2.5rem;
	margin: 20px 0;
	text-align: center;
}

p {
	color: rgb(255, 255, 255);
	font-size: 1.6rem;
	margin: 50px 0px 100px 0px;
	text-align: center;
}
h6{
	text-align: center;
	font-size: 35px !important;
}
a{
	font-size: 25px !important;
}

/* Contenedores */
/* Se que dijo que no se usaba flex ya que no se corregia pero es que se veia interesante y queria probarlo sjajs */

.content {
	border: rgba(0, 0, 0, 0.495) solid 2px;
	border-radius: 15px;
	padding: 150px 15px 0px 15px;

}

.features {
	display: flex;
	justify-content: space-around;
}

.features section img {
	width: 7rem;

}

.inner {
	margin: 5rem 0 9rem;
}

.pro1,
.pro2,
.pro3,
.pro4 {
	border: solid rgba(0, 0, 0, 0.419) 2px;
	border-radius: 15px;
	display: flex;
}

/* Contact */

form {
	text-align: center;
}

.styleRow,
.textarea {
	align-items: center;
	color: rgb(0, 0, 0);
	display: flex;
	font-size: 1.5rem;
	flex-direction: column;
	margin: 1rem;
	text-align: center;
}

#name,
#email,
#message {
	background-color: rgba(30, 3, 50, 0.315);
	border: none;
	border-radius: .5rem;
	color: rgb(255, 255, 255);
	padding: .2rem;
	text-align: center;
}

.contact {
	font-size: 1.5rem;
	margin: 2rem;
}

.contact li {
	margin: 20px;
} 


/* Footer */

.footer {
	background-color: rgba(0, 0, 0, 0.364);
	height: 20vh;
}

.menu {
	padding: 2rem;
}